%ul
  - posts.each do |post|
    %li
      = link_to post.title, post
      = "(#{pluralize post.number_of_views, 'view'})"
      |
      = link_to "Edit", edit_post_path(post)
      |
      = link_to "Destroy", post, method: :delete
