%article.post
  %h1
    = link_to "☉", post, title: "Permalink", class: "permalink"
    - if post.link?
      = link_to post.title, post.link, class: 'external-link'
    - else
      = post.title

  - if post.tags.present?
    %div.tags
      %ul
        - post.tags.each do |tag|
          %li
            = link_to tag.name, tag

  = post.html.html_safe

  %time{ pubdate: true }
    = post.pretty_date
