= form_for post do |f|
  %div.field
    = f.label :title
    = f.text_field :title

  %div.field
    = f.label :markdown
    = f.text_area :markdown

  = render 'preview_markdown'

  - if post.new_record?
    = f.submit "Create post"
  - else
    = f.submit "Save post"
