!!!
%html
  %head
    %title
      - if @title
        = @title + " |"
      Lonely Proton
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
    %link{ href: "http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Lato:400,700,400italic,700italic", rel: "stylesheet" }
    %link{ rel: "alternate", type: "application/rss+xml", title: "Lonely Proton", href: "http://lonelyproton.com/feed.xml" }

  %body{ "data-no-turbolink" => true }

    %div.mast-head
      %a{ href: "/" }
        %h1.logo
          Lonely Proton

      %nav.main-nav
        = link_to "About", page_path("about")
        = link_to "Archive", archives_path
        = link_to "Tags", tags_path

    %div
      = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = render "shared/google_analytics"
