!!!
%html
  %head
    %title Lonely Proton
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{ "data-no-turbolink" => true }
    %nav.main-nav
      = link_to "Archive", archives_path

    %div.main-content
      = yield
